<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/listings"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="/listings"><i class="fa-brands fa-facebook" ></i>
            
            <i class="fa-brands fa-linkedin"></i></a>
        </div>
        
    
        <div class="f-info-brand">&copy;Wanderlust private Limited</div>
        <div class="f-info-links">
            <a href="/listings" >privacy</a>
            <a href="/listings">Terms</a>
        
        </div>
    </div>
</footer>